spring:  
  data:
    elasticsearch:
      cluster-name: elasticsearch
      cluster-nodes: 192.168.31.205:9300,192.168.0.112:9300

hystrix:
  share-security-context: true
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 20000 #默认1s超时，如果不配置超时时间，第一次请求网关会失败(超时)
          strategy: SEMAPHORE
          semaphore:
            # Practically max int, but Hystrix needs an actual value. The default would be 10.
            # We do rate-limiting separately using a custom org.springframework.cloud.gateway.filter.ratelimit.AbstractRateLimiter based on resilience4j
            maxConcurrentRequests: 100000
ribbon:
  ReadTimeout: 5000
  ConnectTimeout: 5000
